/*--------------------- FONTS STYLE ----------------------*/
@font-face {
  font-family: "Inter-Black";
  src: url("../assets/fonts/Inter-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../assets/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}

.font-inter-black{
  font-family: "Inter-Black", sans-serif;
}

.font-inter-bold{
  font-family: "Inter-Bold", sans-serif;
}

.font-inter-medium{
  font-family: "Inter-Medium", sans-serif;
}

.font-inter-regular{
  font-family: "Inter-Regular", sans-serif;
}

/*-------------------- COLORS STYLE ---------------------*/
$color-purple: #800A7A;
$color-yellow: #F1B301;
$color-orange: #E76A06;
$color-violet: #FC96F7;
$color-gray: #F5F5F5;
$color-dark: #222124;
$color-darkgreen: #003846;

/*------------------- ICONS STYLE -----------------------*/
.icon{
  width: 18px;
  height: 18px;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  background-color: $color-yellow;

  &.phone-icon{
    mask-image: url("../assets/icons/phone.svg");
    -webkit-mask-image: url("../assets/icons/phone.svg");
  }

  &.korzina-icon{
    mask-image: url("../assets/icons/korzina.svg");
    -webkit-mask-image: url("../assets/icons/korzina.svg");
  }

  &.fire-icon{
    mask-image: url("../assets/icons/fire.svg");
    -webkit-mask-image: url("../assets/icons/fire.svg");
  }

  &.rocket-icon{
    mask-image: url("../assets/icons/rocket.svg");
    -webkit-mask-image: url("../assets/icons/rocket.svg");
  }

  &.chease-icon{
    mask-image: url("../assets/icons/chease.svg");
    -webkit-mask-image: url("../assets/icons/chease.svg");
  }

  &.papper-icon{
    mask-image: url("../assets/icons/paper.svg");
    -webkit-mask-image: url("../assets/icons/paper.svg");
  }

  &.leaf-icon{
    mask-image: url("../assets/icons/leaf.svg");
    -webkit-mask-image: url("../assets/icons/leaf.svg");
  }

  &.youtube-icon{
    mask-image: url("../assets/icons/youtube.svg");
    -webkit-mask-image: url("../assets/icons/youtube.svg");
  }

  &.facebook-icon{
    mask-image: url("../assets/icons/facebook.svg");
    -webkit-mask-image: url("../assets/icons/facebook.svg");
  }

  &.instagram-icon{
    mask-image: url("../assets/icons/instagram.svg");
    -webkit-mask-image: url("../assets/icons/instagram.svg");
  }

  &.telegram-icon{
    mask-image: url("../assets/icons/telegram.svg");
    -webkit-mask-image: url("../assets/icons/telegram.svg");
  }

  &.tik-tok{
    mask-image: url("../assets/icons/tik-tok.svg");
    -webkit-mask-image: url("../assets/icons/tik-tok.svg");
  }
}

/*------------------------------ MAINS STYLE ---------------------------------*/
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;

//  Top
  .top{
    width: 100%;
    height: 870px;
    background-image: linear-gradient(to right, white 60%, $color-purple 40%);

    @media (max-width: 667px) {
      background-image: linear-gradient(to bottom, white 40%, $color-purple 30%);
    }
    // Navbar
    .navbar{
      .container{
        .collapse{
          .col-60{
            width: 60%;
            .navbar-nav{
              .nav-item{
                .nav-link{
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 17px;
                  color: $color-dark;
                }
              }
            }
          }

          .col-40{
            width: 40%;
            .korzina-icon{
              height: 21px;
            }

            @media (max-width: 667px) {
                p, h5{
                  color: $color-dark!important;
                }
            }

            .line{
              width: 1px;
              height: 43px;
              opacity: 0.4;
              border: 1px solid #FFFFFF;

              @media (max-width: 667px) {
                display: none;
              }
            }
          }
        }
      }
    }
  // Header
    .header{
      .header-title{
        font-weight: 900;
        font-size: 80px;
        line-height: 85px;
        color: $color-dark;
        margin-top: 125px;

        @media (max-width: 667px) {
          font-weight: 900;
          font-size: 36px;
          line-height: 44px;
          text-align: center;
          color: #FFFFFF;
          margin-top: -60px;
        }
      }

      .header-description{
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: $color-dark;
        
        @media (max-width: 667px) {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #FFFFFF;
        }
      }

      // Mobile version
      .col-12{
        .big-burger{
          width: 100%;
          margin-top: 44px;
          display: flex;
          justify-content: center;
        }
      }

      .row{
        display: flex!important;
        margin-top: 66px;
        .col-6{
          .card{
            width: 255px;
            height: 200px;
            background: linear-gradient(315.49deg, #FFC85C 1.32%, #F1B301 96.68%);
            border-radius: 12px;
            padding: 20px 0 20px 20px;
            position: relative;
            @media (max-width: 667px) {
              display: none!important;
            }

            .btn{
              width: 119px;
              height: 40px;
              background: rgba(255, 255, 255, 0.203344);
              border-radius: 19px;
              border: 0;
            }

            h5{
              font-weight: 700;
              font-size: 34px;
              line-height: 32px;
              color: $color-orange;
            }

            .pizza-half{
              position: absolute;
              bottom: 0;
              right: 0;
              border-bottom-right-radius: 12px;
            }
          }

          .kombo-card{
            width: 255px;
            height: 200px;
            border-radius: 12px;
            background-color: $color-purple!important;
            padding: 20px 0 20px 20px;
            position: relative;
            @media (max-width: 667px) {
              display: none!important;
            }

            @media (max-width: 888px) {
              margin-left: 100px;
              box-shadow: 0 10px 10px 5px lightcyan;
            }

            .btn{
              width: 174px;
              height: 40px;
              background: rgba(255, 255, 255, 0.203344);
              border-radius: 19px;
              border: 0;
            }

            h5{
              font-weight: 700;
              font-size: 34px;
              line-height: 32px;
              color: $color-violet;
            }

            .kombo-half{
              position: absolute;
              bottom: 0;
              right: 0;
              border-bottom-right-radius: 12px;
            }
          }
        }

        .col-6{
          .big-burger{
            width: 800px;
            margin-top: 68px;
            margin-left: -110px;
          }
        }
      }
    }
  }
  // Header mobile version
  .container{
    .row{
     @media (max-width: 767px) {
       display: flex!important;
       overflow-x: scroll;
       .col-6{
         .card{
           width: 255px;
           height: 200px;
           background: linear-gradient(315.49deg, #FFC85C 1.32%, #F1B301 96.68%);
           border-radius: 12px;
           padding: 20px 0 20px 20px;
           position: relative;

           .btn{
             width: 119px;
             height: 40px;
             background: rgba(255, 255, 255, 0.203344);
             border-radius: 19px;
             border: 0;
           }

           h5{
             font-weight: 700;
             font-size: 34px;
             line-height: 32px;
             color: $color-orange;
           }

           .pizza-half{
             position: absolute;
             bottom: 0;
             right: 0;
             border-bottom-right-radius: 12px;
           }
         }

         .kombo-card{
           width: 255px;
           height: 200px;
           border-radius: 12px;
           background-color: $color-purple!important;
           padding: 20px 0 20px 20px;
           position: relative;

           @media (max-width: 888px) {
             margin-left: 100px;
             box-shadow: 0 10px 10px 5px lightcyan;
           }

           .btn{
             width: 174px;
             height: 40px;
             background: rgba(255, 255, 255, 0.203344);
             border-radius: 19px;
             border: 0;
           }

           h5{
             font-weight: 700;
             font-size: 34px;
             line-height: 32px;
             color: $color-violet;
           }

           .kombo-half{
             position: absolute;
             bottom: 0;
             right: 0;
             border-bottom-right-radius: 12px;
           }
         }
       }

       .col-6{
         .big-burger{
           width: 800px;
           margin-top: 68px;
           margin-left: -110px;
         }
       }
     }
     }
  }

  // Main
  .main{
    .row{
      .col-12{
        @media (max-width: 792px) {
          overflow-x: scroll!important;
        }
        .line{
          width: 100%;
          height: 1px;
          opacity: 0.2;
          border: 1px solid #979797;
          margin-top: 69px;
          margin-bottom: 39px;
          @media (max-width: 792px) {
            display: none!important;
          }
        }

        .nav-pills{
          @media (max-width: 792px) {
            margin-top: 20px;
            overflow-x: scroll!important;
            white-space: nowrap;
            flex-wrap: nowrap;
          }
          .nav-item{
            .active{
              width: 134px;
              height: 45px;
              background: $color-yellow;
              color: #fff!important;
              border-radius: 27px;
            }
            .nav-link{
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              color: $color-dark;
            }

            .btn{
              width: 160px;
              height: 45px;
              background: #F5F5F5;
              border-radius: 27px;
            }
          }
        }

        .mobile-button{
            margin-top: 20px;
            width: 100%;
            height: 45px;
            background: #F5F5F5;
            border-radius: 27px;
            text-align: center;
          }
        }

      .line{
        height: 1px;
        background-color: #EAEAEA;
        margin-top: 80px;
        margin-bottom: 40px;
        @media (max-width: 576px) {
          display: none;
        }
      }

      .nav{
        @media (max-width: 576px) {
          flex-wrap: nowrap;
          overflow: scroll;
        }
        .nav-item{
          @media (max-width: 576px) {
            margin-top: 52px;
          }
          .nav-link{
            font-size: 20px;
            line-height: 24px;
            color: $color-dark;
            padding: 15px 26px;

            &.active{
              background-color: $color-yellow;
              border-radius: 27px;
              color: #ffffff;
            }
          }
          &:last-child{
            .nav-link{
              background-color: $color-gray;
              border-radius: 27px;
              display: flex;
              align-items: center;
              @media (max-width: 576px) {
                display: none;
              }
              .icon{
                background-color: $color-dark;
                margin-right: 17px;
              }
            }
          }
        }
      }

      .filter{
        a{
          @media (max-width: 576px) {
            background-color: $color-gray;
            border-radius: 27px;
            display: flex;
            justify-content: center;
            height: 46px;
            align-items: center;
            margin-top: 14px;
            color: black;
            .icon{
              background-color: $color-dark;
              margin-right: 26px;
            }
          }
        }
      }

      .tab-pane{
        h1{
          font-size: 52px;
          line-height: 63px;
          color: $color-dark;
          margin-top: 105px;
          @media (max-width: 576px) {
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            margin-top: 40px;
          }
        }
        .menu-2{
          width: 100%;
          height: 46px;
          background-color: #f1f1f1;
          margin-left: 15px;
          margin-right: 15px;
          border-radius: 27px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .card{
          margin-top: 30px;
          border: 1px solid rgba(151, 151, 151, 0.181927);
          border-radius: 12px;

          @media (max-width: 576px) {
            margin-top: 11px;
            margin-bottom: 24px;
          }

          .card-body{
            padding: 30px 30px 20px 20px;

            @media (max-width: 576px) {
              padding: 21.22px 11px 14.15px 21.22px;
            }

            h3{
              font-size: 24px;
              line-height: 29px;
              color: $color-dark;

              img{
                margin-left: 17px;
              }

              @media (max-width: 576px) {
                font-size: 18px;
                line-height: 22px;
              }
            }

            p{
              font-size: 14px;
              line-height: 17px;
              color: $color-gray;
              margin-top: 10px;

              @media (max-width: 576px) {
                font-size: 12px;
                line-height: 15px;
                margin-top: 7px;
              }
            }

            h2{
              font-size: 24px;
              line-height: 29px;
              color: $color-dark;
              margin-top: 41px;

              @media (max-width: 1200px) {
                margin-top: 25px;
              }

              @media (max-width: 576px) {
                font-size: 18px;
                line-height: 22px;
                margin-top: 17px;
              }
            }

            .card-photo{
              margin-right: 41px;

              @media (max-width: 1200px) {
                margin-right: 10px;
              }

              @media (max-width: 576px) {
                width: 127px;
                height: 127px;
              }
            }

            .fire, .btn{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;

              @media (max-width: 576px) {
                width: 35px;
                height: 35px;
              }
            }

            .fire{
              background: rgba(255, 255, 255, 0.249235);
              box-shadow: 0px 7px 40px rgba(238, 39, 68, 0.355086);
              backdrop-filter: blur(8.15485px);
              left: 30px;
              top: 30px;

              @media (max-width: 576px) {
                left: 21px;
                top: 21px;
              }
            }

            .btn{
              background-color: $color-yellow;
              right: 30px;
              bottom: 30px;

              @media (max-width: 576px) {
                right: 21.22px;
                bottom: 21.22px;
                padding: 0;
                .icon{
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }
        }
      }
      }
    }
  }
